<div class="aside-wrap">
  <div class="navi-wrap">
    <!-- nav -->
    <nav class="navi" ui-nav>
      <!-- list -->
      <ul class="nav">
        <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
          <span>导航</span>
        </li>

        <li   #group1 [ngClass]="{'active':group1?.isOpen}">
          <a class="auto"  (click)="group1.isOpen = !group1.isOpen">
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
            <i class="glyphicon glyphicon-user icon text-primary-dker"></i>
            <span class="font-bold">用户Info管理</span>
          </a>
          <ul class="nav nav-sub ">
            <li>
              <a routerLink="/index/infoUserList"  routerLinkActive="active">
                <b class="label bg-info pull-right"></b>
                <span>infoUser列表</span>
              </a>
            </li>
            <li>
              <a routerLink="/index/infoUserAdd"  routerLinkActive="active">
                <b class="label bg-info pull-right"></b>
                <span>infoUser添加</span>
              </a>
            </li>
          </ul>
        </li>
        <li   #group [ngClass]="{'active':group?.isOpen}">
          <a class="auto"  (click)="group.isOpen = !group.isOpen">
          <span class="pull-right text-muted">
            <i class="fa fa-fw fa-angle-right text"></i>
            <i class="fa fa-fw fa-angle-down text-active"></i>
          </span>
            <i class="glyphicon glyphicon-user icon text-primary-dker"></i>
            <span class="font-bold">用户管理11</span>
          </a>
          <ul class="nav nav-sub ">
            <li>
              <a routerLink="/index/userList"  routerLinkActive="active">
                <b class="label bg-info pull-right"></b>
                <span>用户列表</span>
              </a>
            </li>
            <li>
              <a routerLink="/index//userAdd"  routerLinkActive="active">
                <b class="label bg-info pull-right"></b>
                <span>用户添加</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- / list -->
    </nav>
    <!-- nav -->
  </div>
</div>
