<div class="login-box">
  <div class="login-logo">
    <a ><b>FC</b>at</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
   <!-- <p class="login-box-msg">Sign in to start your session</p>-->

    <form  (ngSubmit)="login()" name="loginUserform" #loginForm="ngForm">
      <div class="form-group has-feedback">
        <input [(ngModel)]="loginUser.username" value="xiaoliu" name="username" required  #username="ngModel" type="text" class="form-control" placeholder="Email" >
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
       <!-- <button [hidden]="username.valid || username.pristine" type="button" class="btn btn-block btn-danger btn-sm">Danger</button>-->
      </div>
      <div class="form-group has-feedback">
        <input [(ngModel)]="loginUser.password" value="123456" name="password" type="password" required class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" [disabled]="!loginForm.form.valid"   class="btn btn-primary btn-block btn-flat">登录</button>
          <span style="color: red;">{{msg}}</span>
        </div>
        <!-- /.col -->
      </div>
    </form>

<!--    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using
        Google+</a>
    </div>
    &lt;!&ndash; /.social-auth-links &ndash;&gt;

    <a >I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a>-->

  </div>
  <!-- /.login-box-body -->
</div>
